*.pyc
*.pid
pelican-plugins/*
pelican-plugins
.venv/
*~
._*
*.lock
*.DS_Store
*.swp
*.out
*.py[cod]
*.env

# Jupyter Checkpoints
*checkpoint.ipynb
*./ipynb_checkpoints/*

# Keras weights
*.hdf5

# Large files
*50k.data
*parsed_data*.pkl
glove*.txt
rows.pkl
